@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Exo+2:300);

@media screen and (max-width:1024px){
  div.carousel-caption{
    bottom: 150px;
  }
  .sliderIntro{
  font-family: 'Tangerine', cursive;
  font-size: 60px;
  }

  .pIntro{
    display: none;
  }
  .header{
    margin-top: 350px;
  }
  .textImg{
    margin-top: -100;
    width: 80%;

  }

  .textImg{
    display: none;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: -100;
    margin-left:20px;

  }
  .queso{
    display: none;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    color: #1db64b;
    background: #fff;
    text-align: center;
    margin-left: 20px;
    margin-top: -100px;
}


}


@media screen and (max-width:800px){
  .logo{
    font-size: 100px;
  }
  .baraNav{
  margin-top: -760px;
  }
  div.carousel-caption{
    bottom: 140px;
  }
  .sliderIntro{
  font-family: 'Tangerine', cursive;
  font-size: 40px;
  }

  .pIntro{
    display: none;
  }
}


@media screen and (max-width:600px){
  .logo{
    font-size: 100px;
  }
  .baraNav{
  margin-top: -760px;
  }
  div.carousel-caption{
    bottom: 90px;
  }
  .sliderIntro{
  font-family: 'Tangerine', cursive;
  font-size: 40px;
  }

  .pIntro{
    display: none;
  }
}
@media screen and (max-width:480px){
  .logo{
    font-size: 80px;
  }
  .baraNav{
  margin-top: -300px;
  }


  div.carousel,
  div.carousel-inner{
    height: 300px;
  }

  .carousel-indicators{
    display: none;
  }
  div.carousel-caption{
    display: none;
  }

}
@media screen and (max-width:400px){
  .logo{
    font-size: 80px;
  }
  .baraNav{
  margin-top: -300px;
  }

 div.carousel-caption{
    bottom: 140px;
  }
  div.carousel,
  div.carousel-inner{
    height: 300px;
  }
  .header{
    margin-top: 50px;
  }
  .h1s{
    font-size: 40px;
  }
  .h2s{
    font-size: 10px;
  }
  .smallvs{
    margin-bottom: 10px;
  }
}
